html, body, div, span, h1, p, button, .container
{
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

.container
{
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("markus-winkler-afW1hht0NSs-unsplash.jpg");
    box-sizing: border-box;
    overflow: hidden;
}

.search-menu-container
{
    position: relative;
    width: auto;
    height: 50px;
    top: 0;
    right: 15px;
    float: right;
    background-color: transparent;
    box-sizing: border-box;
}

.search-menu-container nav ul
{
    position: relative;
    display: flex;
    top: 0;
    width: auto;
    list-style: none;
    background-color: transparent;
    box-sizing: border-box;
}

a
{
    margin: 5px;
    text-decoration: none;
    color: #5F6368;
    font-size: 1.05em;
    box-sizing: border-box;
}

a:hover
{
    color: #418EF2;
    text-decoration: underline;
    text-decoration-color: #418EF2;
}

.search-content-container
{
    position: relative;
    width: auto;
    margin: 26.5vh auto;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    overflow: hidden;
}

.google-text-logo
{
    position: relative;
    max-width: 600px;
    margin: 1.1em auto;
}

.google-text-logo h1
{
    display: inline-block;
    font-size: 2em;
    text-align: center;
    box-sizing: border-box;
}

.google-text-logo h1 span
{
    font-size: 3.5em;
}

.blue
{
    color: #418EF2;
}

.red
{
    color: #F23D3D;
}

.orange
{
    color: #F2AC29;
}

.green
{
    color: #3CA64C;
}

.search_bar
{
    width: 500px;
    height: 40px;
    padding: 4px;
    margin: auto;
    border: 1px solid #dfe1e5;
    background-color: white;
    border-radius: 24px;
    box-sizing: border-box;
}

.search_bar:hover
{
    box-shadow:0 0 3px 0 rgba(60,64,67,.30),0 2px 6px 2px rgba(60,64,67,.15);
}

.search_bar input.search-input
{
    position: relative;
    top: -7px;
    width: 430px;
    height: 28px;
    margin: 0 0 0 15px;
    border: none;
    color: #5F6368;
    outline: none;
    background-color: transparent;
}

.right-side-search-button
{
    border: none;
    cursor: pointer;
    width: 30px;
    box-shadow: none;
    background-color: transparent;
}

.right-side-search-button div svg
{
    width: 28px;
    fill: #5F6368;
}

.search-button
{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: resd;
    margin: 30px auto;
}
.submit-button
{
    position: relative;
    width: auto;
    height: 40px;
    margin: auto 5px;
}

input.search-submit
{
    width: auto;
    height: 40px;
    min-width: 54px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0 16px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
}

input.search-submit:hover
{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.google_footer
{
    position: absolute;
    width: 100vw;
    height: 50px;
    text-align: center;
    bottom: 0;
    margin: auto;
    padding: 20px;
    background-color: #343a40;
    box-sizing: border-box;
}

.google_footer p
{
    font-weight: 525;
    text-align: center;
}

.cmplus-green
{
    color: #9fc131;
}

/* ************************************************************* */

.google-text-logo.mini, .advanced-search-top-bar label
{
    position: absolute;
    top: 10px;
    float: left;
    left: 10px;
    margin: 0;
    padding: 0;
}

.google-text-logo.mini h1 span
{
    font-size: 1em;
    letter-spacing: -10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-top-bar, .advanced-search-top-bar
{
    display: inline-block;
    position: relative;
    width: 100vw;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    box-sizing: border-box;
}

.advanced-search-top-bar
{
    top: 10px;
    background-color: transparent;
    border-bottom: 4px solid #7CC4E4;
}

.advanced-search-top-bar label
{
    top: 18px;
    left: 50px;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 1px;
}

.advanced-search-form
{
    position: relative;
    top: 6px;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(124, 196, 228,0.8);
    border-radius: 5px;
    overflow: hidden;
}

.advanced-search-container .lbl-in-container, .fpw-container
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.lbl-content, .fpw-content
{
    margin: 0;
    padding: 0;
    border: 0;
    width: 20%;
    min-width: 200px;
    height: 30px;
    text-align: left;
    background-color: transparent;
}

.in-content
{
    width: 45%;
    min-width: 200px;
}

.blank-space
{
    width: 35%
}

.lbl-content label,.fpw-content span
{
    color: #5F6368;
    vertical-align: baseline;
    vertical-align: -moz-middle-with-baseline;
}

.in-content .in
{
    width: 100%;
    height: 25px;
    border: 1px solid #d9d9d9;
    border-radius: 1px;
}

input.advanced-search-submit
{
    position: relative;
    float: right;
    border: none;
    color: white;
    background-color: #418EF2;
}

input.advanced-search-submit:hover
{
    color: white;
    border: none;
    background-color: #3471C1;
}

/* ************************************************************* */

@media (max-width: 800px)
{
    .google-text-logo h1
    {
        font-size: 1.5em;
    }

    .google-text-logo h1 span
    {
        font-size: 2.8em;
    }
    
    .google-text-logo.mini h1 span
    {
        font-size: 1.25em;
        letter-spacing: -8px;
    }

    .search_bar
    {
        width: 70%;
    }

    .search_bar input.search-input
    {
        width: 85%;
    }

    .hidden
    {
        display: none;
    }
}

@media (max-width: 576px)
{
    .search_bar input.search-input
    {
        width: 78%;
    }

    .google-text-logo h1
    {
        font-size: 1.3em;
    }

    .google-text-logo h1 span
    {
        font-size: 2em;
    }
    
    .google-text-logo.mini h1 span
    {
        font-size: 1.35em;
        letter-spacing: -8px;
    }

    .search_bar
    {
        width: 95%;
    }
    
    .search-menu-container a
    {
        font-size: 0.9em;
    }
}
